.json-property{
-fx-fill:#202020}

.json-number{
  -fx-fill: #fc5c65
}

.json-string {
  -fx-fill: #2bcbba;
}

.json-sections{
-fx-fill: #8854d0
}

.json-fieldGroups{
-fx-fill: #a55eea
}

.json-rows{
-fx-fill:  #4b7bec
}

.json-fields{
-fx-fill:#45aaf2}

.dark-lagoon{
-fx-background-color: #008482}

.lagoon{
-fx-background-color: #00b2a9}